{% extends "base_site.html" %}

{% block content %}
{% include "header_basic.html" %}
<div class="position-absolute top-50 start-50 translate-middle">

    <div class="card text-center" style="width: 500px;">
        <div class="card-header">
        <p class="text-center m-0 p-1 display-6"> Start Vote Using Helios! </p>
        </div>

        <div class="card-body">
            {% if is_open and not is_close %}
                <div class="p-1">
                    <a class="btn btn-outline-primary my-2 my-sm-0 btn-block col-12" href="{% url 'voter_vote' room_id=room_id %}">Vote</a>
                </div>
            {% endif %}

            {% if is_close and is_released %}
                <div class="p-1">
                    <a class="btn btn-outline-primary my-2 my-sm-0 btn-block col-12" href="{% url 'voter_voting_result' room_id=room_id %}">View Voting Result</a>
                </div>
            {% endif %}

            <div class="p-1">
                <a class="btn btn-outline-primary my-2 my-sm-0 btn-block col-12" href="{% url 'voter_view_voters' room_id=room_id %}">Voter Board</a>
            </div>

            <div class="p-1">
                <a class="btn btn-outline-primary my-2 my-sm-0 btn-block col-12" href="{% url 'voter_view_authorities' room_id=room_id %}">Authority Board</a>
            </div>

        </div>
        <div class="card-footer text-muted text-start">
            2022 © fer
        </div>
    </div>

</div>
{% endblock %}