{% extends "base_site.html" %}

{% block content %}
{% include "header_basic.html" %}
<div class="row justify-content-center g-0 pt-5">

    <div class="card text-center mx-3" style="width: 500px;">
        <div class="card-header">
        <p class="text-center m-0 p-1 display-6"> Submit your Vote</p>
        </div>

        <div class="card-body">

            <div class="mx-5 row mb-3 justify-content-between">
                <label for="user_sk" class="col-sm-6 col-form-label" style="text-align:left;">Random Number</label>
                <button class="btn btn-outline-success col-sm-3 btn-sm m-1" onclick="changeSecret()">Regenerate</button>
                <textarea type="text" class="form-control" id="user_sk" name="user_sk" required>loading...</textarea>
            </div>

            <div class="p-3 pb-5 border">

                <h4>{{ room.question }}</h4>

                <div class="custom-control custom-radio pt-3">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="customRadio1">
                    <label class="custom-control-label" for="customRadio1">{{ room.answer.0 }}</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="customRadio2">
                    <label class="custom-control-label" for="customRadio2">{{ room.answer.1 }}</label>
                </div>

            </div>
                

            <button  class="btn btn-primary my-3 mb-0" onclick="encrypt_vote()"> Encrypt Vote </button>
            <p style="color: red; font-size: 12px;" class="mt-1 m-0" id="prime_warning"> Warning! Please encrypt vote before submitting !</p>

        </div>
        <div class="card-footer text-muted text-start">
            2022 © fer
        </div>
    </div>

    <div class="card text-center mx-3" style="width: 500px;">
        <div class="card-header">
        <p class="text-center m-0 p-1 display-6"> Submit your Vote</p>
        </div>

        <div class="card-body">

            <div class="mx-5 row mb-3 justify-content-between">
                <label for="room_id" class="col-sm-6 col-form-label" style="text-align:left;">Prime Number</label>
                <textarea class="form-control" id="room_id" name="room_id" rows="1" readonly>{{room.prime}}</textarea>
            </div>

            <div class="mx-5 row justify-content-between">
                <label for="room_id" class="col-sm-6 col-form-label" style="text-align:left;">Generator Number</label>
                <textarea class="form-control" id="room_id" name="room_id" rows="1" readonly>{{room.generator}}</textarea>
            </div>

            <div class="mx-5 row justify-content-between">
                <label for="room_id" class="col-sm-6 col-form-label" style="text-align:left;">Public Key</label>
                <textarea class="form-control" id="room_id" name="room_id" rows="1" readonly>{{room.public_key}}</textarea>
            </div>
            <br/>
            <form action="{% url 'voter_vote' room_id=room.room_id %}" method="post">
                {% csrf_token %}
                <div class="mx-5 row justify-content-between">
                    <label for="vote_a" class="col-sm-6 col-form-label" style="text-align:left;">Encryption a</label>
                    <textarea type="text" class="form-control" id="vote_a" name="vote_a" rows="1" required readonly></textarea>
                </div>
                <div class="mx-5 row justify-content-between">
                    <label for="vote_b" class="col-sm-6 col-form-label" style="text-align:left;">Encryption b</label>
                    <textarea type="text" class="form-control" id="vote_b" name="vote_b" rows="1" required readonly></textarea>
                </div>
                <div class="mx-5 row justify-content-between">
                    <label for="proof_a0" class="col-sm-6 col-form-label" style="text-align:left;">Proof a0</label>
                    <textarea type="text" class="form-control" id="proof_a0" name="proof_a0" rows="1" required readonly></textarea>
                </div>
                <div class="mx-5 row justify-content-between">
                    <label for="proof_a1" class="col-sm-6 col-form-label" style="text-align:left;">Proof a1</label>
                    <textarea type="text" class="form-control" id="proof_a1" name="proof_a1" rows="1" required readonly></textarea>
                </div>
                <div class="mx-5 row justify-content-between">
                    <label for="proof_b0" class="col-sm-6 col-form-label" style="text-align:left;">Proof b0</label>
                    <textarea type="text" class="form-control" id="proof_b0" name="proof_b0" rows="1" required readonly></textarea>
                </div>
                <div class="mx-5 row justify-content-between">
                    <label for="proof_b1" class="col-sm-6 col-form-label" style="text-align:left;">Proof b1</label>
                    <textarea type="text" class="form-control" id="proof_b1" name="proof_b1" rows="1" required readonly></textarea>
                </div>
                <div class="mx-5 row justify-content-between">
                    <label for="proof_c0" class="col-sm-6 col-form-label" style="text-align:left;">Proof c0</label>
                    <textarea type="text" class="form-control" id="proof_c0" name="proof_c0" rows="1" required readonly></textarea>
                </div>
                <div class="mx-5 row justify-content-between">
                    <label for="proof_c1" class="col-sm-6 col-form-label" style="text-align:left;">Proof c1</label>
                    <textarea type="text" class="form-control" id="proof_c1" name="proof_c1" rows="1" required readonly></textarea>
                </div>
                <div class="mx-5 row justify-content-between">
                    <label for="proof_r0" class="col-sm-6 col-form-label" style="text-align:left;">Proof r0</label>
                    <textarea type="text" class="form-control" id="proof_r0" name="proof_r0" rows="1" required readonly></textarea>
                </div>
                <div class="mx-5 row justify-content-between">
                    <label for="proof_r1" class="col-sm-6 col-form-label" style="text-align:left;">Proof r1</label>
                    <textarea type="text" class="form-control" id="proof_r1" name="proof_r1" rows="1" required readonly></textarea>
                </div>

                <button type="submit" class="btn btn-primary my-3 mb-0">Create</button>
                <p style="color: red; font-size: 12px;" class="mt-1 m-0" id="prime_warning"> Warning! Once submited, you will not be able to edit!</p>

                <br/>
            </form>
        </div>
        <div class="card-footer text-muted text-start">
            2022 © fer
        </div>
    </div>

</div>
<script>
    var bits = 1024;

    function getRandom(){
        var result = ""
        for (var i = 0; i < 80; i++){
            result += String(Math.floor(Math.random() * 10000))
        }
        return result
    }

    function changeSecret(g, p){
        document.getElementById('user_sk').value = 'loading...';
        
        var num = getRandom()
        document.getElementById('user_sk').value = num.toString(10);
    }
    changeSecret()

    function powMod(a, b, modulus){
        
        a = BigInt(a)
        b = BigInt(b)
        modulus = BigInt(modulus)

        if (modulus === BigInt(1)) return 0;

        var result = BigInt(1);
        a = a % modulus;
        while (b > 0) {
            if (b % BigInt(2) === BigInt(1))  //odd number
                result = (result * a) % modulus;
            b = b / BigInt(2); //divide by 2
            a = (a * a) % modulus;
        }
        return result;
    }

    function encrypt_vote(){
        if (!(document.getElementById("customRadio1").checked ^ document.getElementById("customRadio2").checked)) return
        
        var choice = 0
        if (document.getElementById("customRadio1").checked) choice = 0;
        else choice = 1;

        var g = BigInt("{{room.generator}}")
        var p = BigInt("{{room.prime}}")
        var pk = BigInt("{{room.public_key}}")
        var q = p - BigInt(1)

        // generate encription a
        var r = BigInt(document.getElementById("user_sk").value)
        var a = powMod(g, r, p)
        var b = powMod(pk, r, p)
        var r0 = BigInt(getRandom())
        var r1 = BigInt(getRandom())
        var a0, a1, b0, b1, c0, c1;

        if (choice === 0){
            a0 = powMod(g, r0, p);
            b0 = powMod(pk, r0, p);

            c1 = BigInt(getRandom())

            a1 = powMod(g, r1, p) * powMod(a, c1 * (p - BigInt(2)), p) % p;
            b1 = powMod(pk, r1, p) * powMod(b * powMod(g, p - BigInt(2), p) % p, c1 * (p - BigInt(2)), p) % p;

            var hash_input = ((pk + a + b + a0 + b0 + a1 + b1) % q).toString()
            var url_mask = "{% url 'hash_input' hash_input='TMP' %}".replace('TMP/', hash_input);


            fetch(url_mask).then(function(response){
                return response.json()
            }).then(function(data){
                var c = BigInt(data.hash_response)
                c0 = (q + (c - c1)) % q;
                r0 = (r0 + (c0 * r) % q) % q;

                document.getElementById("vote_a").value = a
                document.getElementById("vote_b").value = b
                document.getElementById("proof_a0").value = a0
                document.getElementById("proof_a1").value = a1
                document.getElementById("proof_b0").value = b0
                document.getElementById("proof_b1").value = b1
                document.getElementById("proof_c0").value = c0
                document.getElementById("proof_c1").value = c1
                document.getElementById("proof_r0").value = r0
                document.getElementById("proof_r1").value = r1
            })
        }

        else if (choice === 1) {
            b = (b * BigInt("{{room.generator}}")) % BigInt("{{room.prime}}")
            
            c0 = BigInt(getRandom());

            a0 = powMod(g, r0, p) * powMod(a, c0 * (p - BigInt(2)), p) % p;
            b0 = powMod(pk, r0, p) * powMod(b, c0 * (p - BigInt(2)), p) % p;

            a1 = powMod(g, r1, p);
            b1 = powMod(pk, r1, p);

            var hash_input = ((pk + a + b + a0 + b0 + a1 + b1) % q).toString()
            var url_mask = "{% url 'hash_input' hash_input='TMP' %}".replace('TMP/', hash_input);


            fetch(url_mask).then(function(response){
                return response.json()
            }).then(function(data){
                var c = BigInt(data.hash_response)
                c1 = (q + (c - c0)) % q;
                r1 = (r1 + (c1 * r) % q) % q;

                document.getElementById("vote_a").value = a
                document.getElementById("vote_b").value = b
                document.getElementById("proof_a0").value = a0
                document.getElementById("proof_a1").value = a1
                document.getElementById("proof_b0").value = b0
                document.getElementById("proof_b1").value = b1
                document.getElementById("proof_c0").value = c0
                document.getElementById("proof_c1").value = c1
                document.getElementById("proof_r0").value = r0
                document.getElementById("proof_r1").value = r1
            })
        }
    }
    
</script>
{% endblock %}