{% extends "base_site.html" %}

{% block content %}
{% include "header_basic.html" %}
<div class="row justify-content-center g-0 pt-5">

    <div class="card text-center" style="width: 500px;">
        <div class="card-header">
        <p class="text-center m-0 p-1 display-6"> Submit your key</p>
        </div>

        <div class="card-body">

            <div class="mx-5 row mb-3 justify-content-between">
                <label for="room_id" class="col-sm-6 col-form-label" style="text-align:left;">Prime Number</label>
                <textarea class="form-control" id="room_id" name="room_id" rows="1" readonly>{{room.prime}}</textarea>
            </div>

            <div class="mx-5 row justify-content-between">
                <label for="room_id" class="col-sm-6 col-form-label" style="text-align:left;">Generator Number</label>
                <textarea class="form-control" id="room_id" name="room_id" rows="1" readonly>{{room.generator}}</textarea>
            </div>
            <br/>

            <div class="mx-5 row mb-3 justify-content-between">
                <label for="user_sk" class="col-sm-6 col-form-label" style="text-align:left;">Private Key</label>
                <button class="btn btn-outline-success col-sm-3 btn-sm m-1" onclick="changeSecret()">Regenerate</button>
                <textarea type="text" class="form-control" id="user_sk" name="user_sk" required>loading...</textarea>
                <p style="color: red; font-size: 12px;" class="mt-1 m-0" id="prime_warning"> Warning! Please save your secret key!</p>
            </div>

            <form action="{% url 'authority_submit' room_id=room.room_id %}" method="post">
                {% csrf_token %}
                <div class="mx-5 row justify-content-between">
                    <label for="user_pk" class="col-sm-6 col-form-label" style="text-align:left;">Public Constant</label>
                    <textarea type="text" class="form-control" id="user_pk" name="user_pk" required readonly> loading ... </textarea>
                </div>

                <button type="submit" class="btn btn-primary my-3 mb-0">Create</button>
                <p style="color: red; font-size: 12px;" class="mt-1 m-0" id="prime_warning"> Warning! Once submited, you will not be able to edit!</p>

                <br/>
            </form>
        </div>
        <div class="card-footer text-muted text-start">
            2022 © fer
        </div>
    </div>

</div>
<script>
    var bits = 1024;

    function getRandom(){
        var result = ""
        for (var i = 0; i < 80; i++){
            result += String(Math.floor(Math.random() * 10000))
        }
        return result
    }

    // For generating new PK
    function powMod(g, sk, modulus){
        
        g = BigInt(g)
        sk = BigInt(sk)
        modulus = BigInt(modulus)

        if (modulus === BigInt(1)) return 0;

        var result = BigInt(1);
        g = g % modulus;
        while (sk > 0) {
            if (sk % BigInt(2) === BigInt(1))  //odd number
                result = (result * g) % modulus;
            sk = sk / BigInt(2); //divide by 2
            g = (g * g) % modulus;
        }
        return result;
    }

    function changeSecret(g, p){
        document.getElementById('user_sk').value = 'loading...';
        document.getElementById('user_pk').value = 'loading...';
        
        var num = getRandom()
        document.getElementById('user_sk').value = num.toString(10);
        document.getElementById('user_pk').value = powMod("{{room.generator}}", num.toString(10), "{{room.prime}}");
    }

    changeSecret()
    
</script>
{% endblock %}